@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-accent: #e52b50;
	--color-bg: rgba(246, 249, 251, 0.10);
	--color-text: rgba(10, 10, 10, 0.50);

}

.light {
	--color-bg: rgba(246, 249, 251, 0.10);
	--color-bg-text: rgba(10, 10, 10, 0.50);
}

.dark {
	--color-bg: rgba(10, 10, 10, 0.50);
	--color-bg-text: "#0aff0a";
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-accent: #95df35;
		--color-bg: rgba(10, 10, 10, 0.50);
		--color-bg-text: "#0aff0a";
	}
} */
 