@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-accent: #df3554;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-accent: #df3554;
	}
}

/* 
body {
	color: rgb(var(--foreground-rgb));
} */